@import 'playa-styleguide/src/stylesheets/variables.css';

.item {
  display: flex;
  height: 15px;
  width: 222px;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.icon {
  margin: 0 13px 0 17px;
}

.icon svg {
  width: 15px;
  height: 15px;
  fill: var(--text-grey-light);
}

.name {
  height: 17px;
  width: 132px;
  color: var(--text-grey-dark);
  font-family: var(--font-family-regular);
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  text-transform: capitalize;
}

.content {
  display: flex;
  align-self: center;
  color: var(--text-grey-dark);
}

.content:hover {
  cursor: pointer;
}

.status {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--green);
}

.itemActive .icon svg {
  fill: var(--hyfn-blue);
}

.itemInactive .icon svg {
  fill: var(--text-grey-light);
}

.itemWrapper:hover .subItems {
  display: block;
}

.subItems {
  display: none;
}

/* This needs to be after .subItems defintion */
.isOpen{
  display: block;
}
