@import 'playa-styleguide/src/stylesheets/variables.css';

.item {
  display:flex;
  padding-left:25px;
  margin: 10px 0px 10px 25px;
  font-size: 12px;  
  font-weight: 600; 
  line-height: 14px;
  height: 14px; 
  width: 130px; 
  text-decoration: none;
}

.contentLink{
  white-space: nowrap;
  text-decoration: none;
}

.contentInactiveLink{
  color: var(--text-grey); 
}

.contentLink:hover{
  color: var(--hyfn-blue); 
}

.contentSelectedLink {
  color: var(--hyfn-blue); 
}