@import '../../../../node_modules/playa-styleguide/src/stylesheets/variables.css';
@import '../../stylesheets/component-variables.css';

.channelToolbarContainer {
  position: fixed;
  width: 100%;
  height: var(--channel-toolbar-height);
  top: var(--nav-bar-height);
  background: white;
  border-bottom: 1px solid var(--grey);
  z-index: var(--z-index-8)
}

.channelToolbar {
  display: flex;
  margin-right: 220px;
  justify-content: flex-start;
  overflow: hidden;
}

/* Non Admin styles */
:global(.isAnalyst) .actionButton {
  opacity: 0.5;
  pointer-events: none;
}


.actionButton {
  padding: 10px 20px;
  margin-left: auto;
}
