<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.ravenjs.com/3.22.1/raven.min.js" crossorigin="anonymous"></script>
    <title>Anna Kalla</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="description" content="Anna Kalla">
    <link rel="shortcut icon" href="/shell/favicon.ico">
    <% if (process.env.NODE_ENV === 'production' && process.env.GOOGLE_ANALYTICS_TRACKING) { %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      </script>
    <% } %>
    <% if (process.env.NODE_ENV === 'production') { %>
      <!-- Our CSS -->
      <link rel="stylesheet" type="text/css" href="/shell/css/index.css" />
      <!-- Sentry Configuration -->
      <script>
        Raven.config('<%= process.env.SENTRY_DSN %>', {
          environment: '<%= process.env.SENTRY_ENV %>',
          captureUnhandledRejections: true,
          // De-cluttering Sentry: https://docs.sentry.io/clients/javascript/tips/#decluttering-sentry
          ignoreErrors: [
            // Random plugins/extensions
            'top.GLOBALS',
            // See: http://blog.errorception.com/2012/03/tale-of-unfindable-js-error. html
            'originalCreateNotification',
            'canvas.contentDocument',
            'MyApp_RemoveAllHighlights',
            'http://tt.epicplay.com',
            'Can\'t find variable: ZiteReader',
            'jigsaw is not defined',
            'ComboSearch is not defined',
            'http://loading.retry.widdit.com/',
            'atomicFindClose',
            // Facebook borked
            'fb_xd_fragment',
            // ISP "optimizing" proxy - `Cache-Control: no-transform` seems to
            // reduce this. (thanks @acdha)
            // See http://stackoverflow.com/questions/4113268
            'bmi_SafeAddOnload',
            'EBCallBackMessageReceived',
            // See http://toolbar.conduit.com/Developer/HtmlAndGadget/Methods/JSInjection.aspx
            'conduitPage'
          ],
          ignoreUrls: [
            // Woopra flakiness
            /eatdifferent\.com\.woopra-ns\.com/i,
            /static\.woopra\.com\/js\/woopra\.js/i,
            // Chrome extensions
            /extensions\//i,
            /^chrome:\/\//i,
            // Other plugins
            /127\.0\.0\.1:4001\/isrunning/i,  // Cacaoweb
            /webappstoolbarba\.texthelp\.com\//i,
            /metrics\.itunes\.apple\.com\.edgesuite\.net\//i
          ]
        }).install()
      </script>
    <% } %>
    <!-- Zendesk - Feedback -->
    <script>
      /*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","hyfn8.zendesk.com");
/*]]>*/
      window.zESettings = {
        webWidget: {
          offset: { vertical: '65px' },
          position: {
            horizontal: 'right',
            vertical: 'top'
          }
        }
      }
      zE(() => zE.hide())
    </script>
  </head>
  <body>
    <div id="main"></div>
    <script src="https://unpkg.com/little-loader@0.2.0/dist/little-loader.min.js"></script>

    <script>
      window._lload("/lib.js", function () {
        window._lload("/shell/index.bundle.js")
      })
    </script>
  </body>
</html>
