@import 'playa-styleguide/src/stylesheets/variables.css';

.wrapper {
  font-size: 14px;
  display: flex;
  height: 50px;
  align-items: center;
}

.breadcrumb {
  color: var(--hyfn-blue);
  position: relative;
  margin-left: 40px;
  text-decoration: none;
  flex: 0 0 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.breadcrumb:before {
  content: '';
  position: absolute;
  height: 25px;
  width: 1px;
  background-color: var(--grey);
  transform:rotate(15deg);
  left: -20px;
  top: -5px;
}
