@import 'playa-styleguide/src/stylesheets/variables.css';
@import '../../stylesheets/component-variables.css';

.contentContainer {
  margin-top: var(--combined-toolbars-height);
  height: calc(100vh - var(--combined-toolbars-height));
  display: flex;
  border-top: 1px solid var(--grey);
}

.expandableContainer {
  flex: 1;
  position: relative;
  overflow: scroll;
}
