@import 'playa-styleguide/src/stylesheets/variables.css';

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.box {
  position: relative;
  width: 55px;
  height: 50px;
  border: 1px solid;
}

.title {
  font-family: var(--font-family-regular);
  font-size: 14px;
  font-weight: 600;
  align-self: center;
  margin-left: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.box:after, .box:before {
  left: 53px;
  top: -1px;
  border-style: solid;
  border-color: transparent transparent transparent #007bff;
  border-width: 25px 0 25px 14px;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.box:before {
  left: 54px;
  top: -1px;
}

.greyIcon {
  align-self: center;
  margin-right: 5px;
  width: 12px;
  height: 12px;
}

.greyIcon svg {
  width: 100%;
  height: 100%;
  fill: var(--text-grey-light);
}

.greyIcon .snapchatIcon {
  width: 15px;
  height:15px;
  margin-top: -1px;
}

.otherActiveChannels {
  display: flex;
  margin-left: 25px;
}

.snapchat {
  background: var(--snapchat-yellow);
  border-color: var(--snapchat-yellow-dark);
}
.snapchat:after {
  border-left-color: var(--snapchat-yellow);
}
.snapchat:before {
  border-left-color: var(--snapchat-yellow-dark);
}

.facebook {
  background: var(--facebook-blue);
  border-color: var(--facebook-blue-dark);
}
.facebook:after {
  border-left-color: var(--facebook-blue);
}
.facebook:before {
  border-left-color: var(--facebook-blue-dark);
}

.twitter {
  background: var(--twitter-blue);
  border-color: var(--twitter-blue-dark);
}
.twitter:after {
  border-left-color: var(--twitter-blue);
}
.twitter:before {
  border-left-color: var(--twitter-blue-dark);
}

.pinterest {
  background: var(--pinterest-red);
  border-color: var(--pinterest-red-dark);
}
.pinterest:after {
  border-left-color: var(--pinterest-red);
}
.pinterest:before {
  border-left-color: var(--pinterest-red-dark);
}

.colorIcon svg {
  width: 18px;
  height: 18px;
  top: 25px;
  left: 30px;
  position: absolute;
  margin-top: -9px;
  margin-left: -9px;
  fill: #fff;
}

.colorIcon .snapchatIcon {
  stroke: #000;
}

.colorIcon .instagramIcon {
  width: 11px;
  height: 11px;
  margin-left: 8px;
  margin-top: -6px;
}

.colorIcon .facebookIcon {
  width: 16px;
  height: 16px;
  margin-left: -15px;
  margin-top: -9px;
}

.colorIcon .twitterIcon {
}

.colorIcon .pinterestIcon {
}
