@import 'playa-styleguide/src/stylesheets/variables.css';

.errorPage {
  position: absolute;
  top: 45%;
  left: 50%;
  text-align: center;
  transform: translateY(-50%) translateX(-50%);
}

.image {
  width: 50vw;
  margin-bottom: 60px;
}

.message {
  font-family: var(--font-family-regular);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.button {

}
