@import '../../../../node_modules/playa-styleguide/src/stylesheets/variables.css';
@import '../../stylesheets/component-variables.css';

.sideNavToggler {
  position: absolute;
  display: inline-block;
  height: var(--channel-toolbar-height);
  width: 220px;
  top: 0;
  right: 0;
  padding: 0 5px;

  cursor: pointer;
  user-select: none;

  font-family: var(--font-family-regular);
  font-size: 13px;
  line-height: var(--channel-toolbar-height);
  vertical-align: middle;
  text-align: left;

  color: var(--hyfn-blue-light);
  border-left: 1px solid var(--grey);
}

.label {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 15px;
  fill: var(--hyfn-blue-light);
  transform: translateY(-50%) rotate(180deg);
  transition: all 200ms ease-in-out;
}

.opened {
  & .arrow {
    transform: translateY(-50%) rotate(0deg);
  }
}
