@import '../../../../node_modules/playa-styleguide/src/stylesheets/variables.css';
@import '../../stylesheets/component-variables.css';

.sideNav {
  position:fixed;
  height:100%;
  width:220px;
  background-color: var(--white);
  border-left: 1px solid var(--grey);
  z-index: var(--z-index-7);
}

.container {
  flex: 0 1 220px;
  position: relative;
  transition: all .5s cubic-bezier(0.54, 0, 0.07, 1);
  right: 0;
  top: calc(-1 * var(--toolbar-gap)); /* Adjust for offset to fit flush */
}

.hide {
  flex: 0;
}
