import 'FXArbitrage/src/stylesheets/variables.css';


.navbar {
  background-color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-bar-height);
  z-index: var(--z-index-9);
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  margin: auto;
  padding: 0;
  list-style: none;
}

.broken {
  width: 100px;
  color: #fff;
}

.item {
  height: 30px;
  padding: 0 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.left {
  composes: item;
}

.middle {
  composes: item;
  width: 100%;
}

.right {
  composes: item;
  margin-left: auto;
}

.logo {
  width: 50px;
  height: 100%;
  margin-right: 10px;
  fill: var(--white);
}

.feeback {
  width: 30px;
}
