@import 'playa-styleguide/src/stylesheets/variables.css';

:global(.is-open) .menu {
  display: block;
}

:root {
  --brand-menu-padding-lg: 12px;
}

.menu {
  display: none;
  position: absolute;
  width: 400px;
  max-height: calc(100vh - 170px);
  top: calc(100% + 10px);
  left: 5px;
  border-radius: 2px;
  border: 1px solid var(--grey);
  background-color: var(--white);
  box-shadow: var(--standard-shadow);
  z-index: 900;
}

.heading {
  padding: 10px var(--brand-menu-padding-lg) var(--brand-menu-padding-lg);
  border-bottom: solid 1px var(--grey);
  background-color: var(--background-grey);
}

.noResults {
  position: absolute;
  width: calc(100% - var(--brand-menu-padding-lg) * 2);
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.brandsList {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 var(--brand-menu-padding-lg) 20px;
  max-height: calc(100vh - 237px);
  min-height: 135px;
  overflow-x: hidden;
  overflow-y: scroll;
}
