@import 'playa-styleguide/src/stylesheets/variables.css';

.item {
  padding: 5px 8px 1px;
}

.heading {
  margin-top: 15px;
  padding-top: 15px;
  border-top: solid 1px var(--grey);
}

.heading:first-child {
  margin-top: 0;
  border: none;
}

.item:not(.heading) {
  padding: 0 5px 0 26px;
  &:hover {
    background-color: #eaeaea;
  }
}

.link {
  display: inline-block;
  width: 100%;
  padding: 8px 0;
  font-family: var(--font-family-semibold);
  color: var(--text-grey-dark);
  font-size: 14px;
  text-decoration: none;
}

.selected .link {
  color: var(--hyfn-blue);
}

.heading .link {
  color: var(--text-grey-light);
  pointer-events: none;
}

.keyedTo {
  background: var(--background-grey-dark);
}